[submodule "OneDrive/Desktop/vinodreddy/OneDrive/Desktop/vinodreddy/ganeshreddy/ganeshreddy"]
	path = OneDrive/Desktop/vinodreddy/OneDrive/Desktop/vinodreddy/ganeshreddy/ganeshreddy
	url = https://github.com/KVKR31/ganeshreddy.git
